.schedule_table.table,
.schedule_table td {
	/*border-top: 1px solid #333;*/
	border: 1px solid #333;
	margin-bottom: 160px;
	/*margin-left: -60px;*/
}
.all{
	background-color: aliceblue;
}
.fitness{
	background-color: #fdfdb8;
}
.dance{
	background-color: #d2d2d2;
}
.green{
	background-color: #bef38c;
}
.little{
	background-color: pink;
}
.class_col{
	vertical-align: top;
}
.class_grid{
	height: 6rem;
	width: 9vw;
	padding: 6px;
	/*border-radius: 10px;*/
	/*border: 1px solid #333;*/
	text-align: center;
	/*font-family: "Arial Black", serif ;*/
	font-family: math;
}
.sticker{
	height: 4rem;
	width: 9vw;
	border-radius: 10px;
	margin: 6px;
	display:grid;
	text-align: center;
	/*font-family: "Arial Black", serif ;*/
	font-family: math;
}

.sticker div {
	margin: auto 6px auto 6px;
}

.time_grid{
	text-align: center;
	width: 11vw;
}
.head_string td{
	height: 3rem;
	text-align: center;
	font-size:16pt;
	font-weight: bolder;
}
.tt_class_title{
	font-size:12pt;
	height: 60%;
}
.tt_class_message{
	font-size:8pt;
	height: 20%;
}
.tt_class_instructor{
	font-size:10pt;
	height: 20%;
}

.active
{
	font-weight:bold;
}

.item_filter_btn:not(.active){
	background-color: aliceblue;
}


.tt_class
{
	position: relative;
	left: 1px;
	top: 1px;
}
.hidden{
	display: none;
}



