<div class="row justify-content-md-center">
    <div class="sticker fitness">
        <div class="tt_class_title">ФИТНЕСС ЗАЛ</div>
    </div>
    <div class="sticker green">
        <div class="tt_class_title">ЗЕЛЕНЫЙ ЗАЛ<br>(2 этаж)</div>
    </div>
    <div class="sticker dance">
        <div class="tt_class_title">ТАНЦЕВАЛЬНЫЙ ЗАЛ</div>
    </div>
    <div class="sticker little">
        <div class="tt_class_title">МАЛЫЙ ЗАЛ<br>(2 этаж)</div>
    </div>
</div>
<table>
    <tr class="head_string">
        <td></td>
        <td ng-repeat="day in dayList">{{day}}</td>
    </tr>
    <tr class="body_string" ng-repeat="time in timeGrid">
        <td class="time_grid">{{time}}</td>
        <td class="class_col" ng-repeat="day in dayList">
            <div class="class_grid {{class.place}}" ng-repeat="class in scheduleDtoList" ng-if="class.day == day && class.time == time">
                <div class="tt_class_title">{{class.title}}</div>
                <div class="tt_class_message">{{class.message}}</div>
                <div class="tt_class_instructor">{{class.trainer}}</div>
            </div>
        </td>
    </tr>
</table>

