<div class="row align-items-start">
    <div class="col-3">
        <h4>Какие-то возможные функции</h4>
    </div>
    <div class="col-9">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div class="col-7">
                    <a class="navbar-brand"> <h3>Список услуг</h3></a>
                </div>
                <div class="col-5">
                </div>
            </div>
        </nav>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Количество занятий</th>
                <th>Дата окончания</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in UserInformation.subscriptionDtoList">

                <!--Вариант без открытия-->
                <td>{{t.disciplineName}}</td>
                <td>{{t.numOfWorkouts}}</td>
                <td>{{t.expired}}</td>

                <!--Вариант с открытием каждой позиции-->
<!--                <td ng-click="getTicketById(t.id)" data-bs-toggle="modal" data-bs-target="#exampleModalOrder">{{t.disciplineName}}</td>-->
<!--                <td ng-click="getTicketById(t.id)" data-bs-toggle="modal" data-bs-target="#exampleModalOrder">{{t.numOfWorkouts}}</td>-->
<!--                <td ng-click="getTicketById(t.id)" data-bs-toggle="modal" data-bs-target="#exampleModalOrder">{{t.expired}}</td>-->


            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModalOrder" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div style="margin-left: 12px; margin-top: 30px; margin-bottom: 8px">
                <h3>Здесь вероятно нужна какая-то информация об абонементе, но команда еще не решила</h3>

                <h6>Оформлен: {{currentTicket.createdAt}},    Текущий статус: {{currentTicket.status}} </h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

