<section class="class section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-5">

                <h2 data-aos="fade-up" data-aos-delay="200">Активные занятия</h2>
            </div>

            <div class="class-sticker col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400" ng-repeat="sub in userSubscriptionList" ng-if="sub.id % 3 == 0">
                <div class="class-thumb">
                    <img src="{{sub.image}}" class="img-fluid" alt="Class">

                    <div class="class-info">
                        <h3 class="mb-1">{{sub.discipline}}</h3>

                        <span><strong>Тренер</strong> - {{sub.trainer}}</span><br>

                        <span class="class-price">₽{{sub.price}}</span>

                        <span><strong>Количество занятий</strong> - {{sub.workoutCount}}</span>
                    </div>
                </div>
            </div>

            <div class="class-sticker mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500"  ng-repeat="sub in userSubscriptionList" ng-if="sub.id % 3 == 1">
                <div class="class-thumb">
                    <img src="{{sub.image}}" class="img-fluid" alt="Class">

                    <div class="class-info">
                        <h3 class="mb-1">{{sub.discipline}}</h3>

                        <span><strong>Тренер</strong> - {{sub.trainer}}</span><br>

                        <span class="class-price">₽{{sub.price}}</span>

                        <span><strong>Количество занятий</strong> - {{sub.workoutCount}}</span>
                    </div>
                </div>
            </div>

            <div class="class-sticker mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600"  ng-repeat="sub in userSubscriptionList" ng-if="sub.id % 3 == 2">
                <div class="class-thumb">
                    <img src="{{sub.image}}" class="img-fluid" alt="Class">

                    <div class="class-info">
                        <h3 class="mb-1">{{sub.discipline}}</h3>

                        <span><strong>Тренер</strong> - {{sub.trainer}}</span><br>

                        <span class="class-price">₽{{sub.price}}</span>

                        <span><strong>Количество занятий</strong> - {{sub.workoutCount}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="class section" id="class">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-5">
                <h6 data-aos="fade-up">Вперед, к здоровому телу</h6>

                <h2 data-aos="fade-up" data-aos-delay="200">Наши занятия</h2>
            </div>

            <div class="class-sticker col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400" ng-repeat="sub in allSubscriptionList" ng-if="sub.id % 3 == 0" ng-click="getSubInfo(sub.id)">
                <div class="class-thumb">
                    <img src={{sub.image}} class="img-fluid" alt="Class">

                    <div class="class-info">
                        <h3 class="mb-1">{{sub.discipline}}</h3>

                        <span><strong>Тренер</strong> - {{sub.trainer}}</span><br>

                        <span class="class-price">₽{{sub.price}}</span>

                        <span><strong>Количество занятий</strong> - {{sub.workoutCount}}</span>
                    </div>
                </div>
            </div>

            <div class="class-sticker mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500"  ng-repeat="sub in allSubscriptionList" ng-if="sub.id % 3 == 1">
                <div class="class-thumb">
                    <img src={{sub.image}} class="img-fluid" alt="Class">

                    <div class="class-info">
                        <h3 class="mb-1">{{sub.discipline}}</h3>

                        <span><strong>Тренер</strong> - {{sub.trainer}}</span><br>

                        <span class="class-price">₽{{sub.price}}</span>

                        <span><strong>Количество занятий</strong> - {{sub.workoutCount}}</span>
                    </div>
                </div>
            </div>

            <div class="class-sticker mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600"  ng-repeat="sub in allSubscriptionList" ng-if="sub.id % 3 == 2">
                <div class="class-thumb">
                    <img src={{sub.image}} class="img-fluid" alt="Class">

                    <div class="class-info">
                        <h3 class="mb-1">{{sub.discipline}}</h3>

                        <span><strong>Тренер</strong> - {{sub.trainer}}</span><br>

                        <span class="class-price">₽{{sub.price}}</span>

                        <span><strong>Количество занятий</strong> - {{sub.workoutCount}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="../js/custom.js"></script>

<!--<div class="row align-items-start">
    <div class="col-3">

        <button class="add_subscription_button" ng-click="getAllSubscriptions()" data-bs-toggle="modal" data-bs-target="#subscriptionsList" ng-click="getSubscriptions()">
            Добавить абонемент
        </button>

    </div>
    <div class="col-9">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div class="col-7">
                    <a class="navbar-brand"> <h3>Список услуг</h3></a>
                </div>
                <div class="col-5">
                </div>
            </div>
        </nav>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Количество занятий</th>
                <th>Дата окончания</th>
&lt;!&ndash;                <th></th>&ndash;&gt;
            </tr>
            </thead>
            <tbody>
&lt;!&ndash;            <tr ng-repeat="t in UserInformation.subscriptionDtoList">&ndash;&gt;
            <tr ng-repeat="t in subscriptionDtoList">

                &lt;!&ndash;Вариант без открытия&ndash;&gt;
                <td>{{t.disciplineName}}</td>
                <td>{{t.numOfWorkouts}}</td>
                <td>{{t.expired}}</td>
&lt;!&ndash;                <td>&ndash;&gt;
&lt;!&ndash;                    <button type="button" class="btn btn-outline-secondary" ng-click="deleteSubscription(t.id)">&ndash;&gt;
&lt;!&ndash;                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">&ndash;&gt;
&lt;!&ndash;                            <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>&ndash;&gt;
&lt;!&ndash;                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>&ndash;&gt;
&lt;!&ndash;                        </svg>&ndash;&gt;
&lt;!&ndash;                    </button>&ndash;&gt;
&lt;!&ndash;                </td>&ndash;&gt;

                &lt;!&ndash;Вариант с открытием каждой позиции&ndash;&gt;
&lt;!&ndash;                <td ng-click="getTicketById(t.id)" data-bs-toggle="modal" data-bs-target="#exampleModalOrder">{{t.disciplineName}}</td>&ndash;&gt;
&lt;!&ndash;                <td ng-click="getTicketById(t.id)" data-bs-toggle="modal" data-bs-target="#exampleModalOrder">{{t.numOfWorkouts}}</td>&ndash;&gt;
&lt;!&ndash;                <td ng-click="getTicketById(t.id)" data-bs-toggle="modal" data-bs-target="#exampleModalOrder">{{t.expired}}</td>&ndash;&gt;


            </tr>
            </tbody>
        </table>
    </div>
</div>-->

<!-- Modal -->
<div class="modal fade" id="subscriptionInformationForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button class="x" ng-click="closeModal('#subscriptionInformationForm')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>

                <img src={{CurrentSub.image}} class="img-fluid" alt="Class">
                <h2 class="modal-title" id="membershipFormLabel2">{{CurrentSub.discipline.name}}</h2>

            </div>

            <div class="modal-body">

                <button type="submit" class="form-control submit-button" name="submit">Submit Button</button>

                <form class="membership-form webform" role="form">
                    <input type="text" class="form-control" name="cf-name" placeholder="John Doe">

                    <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">

                    <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                    <textarea class="form-control" rows="3" name="cf-message" placeholder="Additional Message"></textarea>

                    <button type="submit" class="form-control submit-button" name="submit">Submit Button</button>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="signup-agree">
                        <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
                        </label>
                    </div>
                </form>
            </div>

            <div class="modal-footer"></div>

        </div>
    </div>
</div>

<div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">

                <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="membership-form webform" role="form">
                    <input type="text" class="form-control" name="cf-name" placeholder="John Doe">

                    <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">

                    <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                    <textarea class="form-control" rows="3" name="cf-message" placeholder="Additional Message"></textarea>

                    <button type="submit" class="form-control submit-button" name="submit">Submit Button</button>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="signup-agreee">
                        <label class="custom-control-label text-small text-muted" for="signup-agreee">I agree to the <a href="#">Terms &amp;Conditions</a>
                        </label>
                    </div>
                </form>
            </div>

            <div class="modal-footer"></div>

        </div>
    </div>
</div>

