<section class="info section">
    <div class="container">
            <form class="webform" id="userFilter" novalidate ng-submit="saveInformation()">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="text-white" data-aos="fade-up">Личные данные</h2>
                    <hr data-aos="fade-up">
                    <h6 data-aos="fade-up" data-aos-delay="200">Контактная информация</h6>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="200">
                    <div class="ml-auto col-lg-5 col-md-6 col-12">
                        <div>
                            <div class="form-group mb-3">
                                <h6 class="text-white">Логин</h6>
                                <input class="form-control text-white" type="text" ng-model="UserInformation.login" value="{{UserInformation.login}}" placeholder="{{UserInformation.login}}" readonly title="Логин пользователя при входе">
                            </div>
                        </div>
                        <div>
                            <div class="form-group mb-3">
                                <h6 class="text-white">Полное имя (ФИО)</h6>
                                <input class="form-control text-white" type="text" ng-model="UserInformation.username" id="userName" value="{{UserInformation.username}}" placeholder="{{UserInformation.username}}" title="Ваши Фамилия Имя Отчество">
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto col-lg-5 col-md-6 col-12">
                        <div>
                            <div class="form-group mb-3">
                                <h6 class="text-white">Номер Карты</h6>
                                <input class="form-control text-white" type="text" ng-model="UserInformation.keypass" value="{{UserInformation.keypass}}" placeholder="{{UserInformation.keypass}}" readonly title="Номер клубной карты">
                            </div>
                        </div>
                        <div>
                            <div class="form-group mb-3">
                                <h6 class="text-white">Телефон</h6>
                                <input id="phone" class="form-control text-white" type="text" ng-model="UserInformation.phone" ng-change="phoneMatching()" value="{{UserInformation.phone}}" placeholder="{{UserInformation.phone}}" title="Номер телефона">
                            </div>
                        </div>
                        <div>
                            <div class="form-group mb-3">
                                <h6 class="text-white">Электронная почта</h6>
                                <input id="email" class="form-control text-white" type="text" ng-model="UserInformation.email" ng-change="emailMatching()" value="{{UserInformation.email}}" placeholder="{{UserInformation.email}}" title="Адрес электронной почты">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-12 text-center" data-aos="fade-up" data-aos-delay="400">
                    <hr>
                    <h6>Смена пароля</h6>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="400">
                    <div class="ml-auto col-lg-5 col-md-6 col-12">
                        <div class="form-group mb-3">
                            <h6 class="text-white">Введите новый пароль</h6>
                            <input id="pass1" type="password" class="form-control text-white" ng-model="UserInformation.password1" ng-change="passwordMatching()" autocomplete="new-password" placeholder="Пароль" title="Придумайте пароль">
                        </div>
                    </div>
                    <div class="ml-auto col-lg-5 col-md-6 col-12">
                        <div class="form-group mb-3">
                            <h6 class="text-white">Повторите ввод</h6>
                            <input id="pass2" type="password" class="form-control text-white" ng-model="UserInformation.password2" ng-change="passwordMatching()" autocomplete="off" placeholder="Подтверждение" title="Повторите ввод пароль">
                        </div>
                    </div>
                </div>
                <hr data-aos="fade-up" data-aos-delay="600">
                <div class="row" data-aos="fade-up" data-aos-delay="600">
                    <div class="ml-auto col-lg-5 col-md-6 col-12">
                        <button class="form-control reset-button btn mt-3" ng-click="resetChanges()" type="button">Сбросить</button>
                    </div>
                    <div class="ml-auto col-lg-5 col-md-6 col-12">
                        <button class="form-control submit-button btn bg-color mt-3" type="submit">Сохранить</button>
                    </div>
                </div>
            </form>
    </div>
</section>

<!-- SCRIPTS -->
<script src="../js/custom.js"></script>